body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF; /* White background */
    overflow-x: hidden; /* Remove horizontal scroll */
}

header {
    background-color: #003366; /* Set header background color */
}

.header-content {
    z-index: 1;
    position: relative;
}

.header-image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0.2; /* Faded effect */
}

.card {
    transition: transform 0.3s;
    border-radius: 20px;
}

.animated-card:hover {
    transform: scale(1.05);
}

.service-card {
    border: 1px solid #FF9966; /* Light Orange border */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

/* Video Container */
.video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-img-top {
    object-fit: cover; /* Ensures the image covers the entire area */
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
